
.App {

  text-align: center;
  margin-top: 10%;
}
 

.task {

  color: black;
}


.task.completed {

  text-decoration: line-through;
}


.task-item {

  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.btn {

  margin-right: 10%;
  margin-left: 10%;
}

